# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# DB
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Prisma generated client
**/prisma/generated/
**/node_modules/.prisma/

# Runtime
.tmp/
.cache/
